
/* link google font added link  */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Josefin+Sans:wght@400;700&family=Lobster&family=Poppins:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
}

header{
    /* background-color: rgba(4, 4, 128, 0.13); */
}
.logo_nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: relative;
}

.logo_nav_container img{
    width: 180px;
    cursor: pointer;
    padding: 15px;
}

.navigation-container ul{
    display: flex;
    transition: 0.7s;

}

.navigation-container ul li{
    width: 150px;
    margin: 5px;
    text-align: center;
    list-style: none;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    /* text-transform: uppercase; */
}
.navigation-container ul li a{
    color:  orangered;
    position: relative;

}

.navigation-container ul li a::before{
    content:"";
    position: absolute;
    top: 100%;
    left: 0;
    background-image: linear-gradient(90deg,#ff2647, #ffc72e);
    width: 0%;
    height: 3px;
    border-radius: 10px;
    transition: 0.6s;
}

.navigation-container ul li a:hover::before{
    width: 100%;
}
.toggle-menu{
    display: none;

}
.toggle-menu i{
    font-size: 30px;
    padding: 0px;
    cursor: pointer;
    color:  orangered;

}
#toggle-end{
    display: none;

}

/* header section end  */

/* hero section strat  */
.hero_section{
    /* display: grid;
    grid-template-columns: auto auto;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text-container{
    padding-left: 10%;
    padding-top: 10%;
    width: 50vw;
    /* background-color: #ffc72e; */
}

.hero-image-container{
    width: 50vw;
}

.hero-text-container h3{
    color: red;
    padding: 0
}
.hero-text-container h1{
    font-size: 40px;
    padding: 5px 0;
    font-family: 'Carter One', cursive;
}
/* animation strat  */
.animation-container{
    width: auto;
    overflow: hidden;
    width:600px;
    font-size:45px;
}

.animation-container .text {
    position: relative;
    color: orangered;
    font-weight: 700;
    overflow: hidden;

}

.animation-container .text.first-text{
    color: black;

}

.text.secend-text{
    font-family: 'Lobster', cursive;
    width: 200px;
}

.text.secend-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 2px solid orangered;
    animation: typing 4s steps(12) infinite;

}

@keyframes typing{
    40%, 60%{
        left: 100%
    }
    100%{
        left: 0%;
    }
}
/* animation end  */


.hero-text-container p{
    padding: 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    font-weight: 600;
    
}

.hire-button{
    margin: 40px 0;
}
.hire-me-btn{
    color: orangered;
    border: 1px solid orangered;
    padding: 10px 34px;
    font-size: 25px;
}

.hire-me-btn:hover{
    background: #f44336;
    transition: 1s;
    color: white;
}

.hero-image-container img{
    width: 90%;
    padding: 50px;
    left: 0;
    top: 0;
}
/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 600px) {
    .logo_nav_container img{
        width: 120px;
        height: 10vh;
    }
    .navigation-container ul{
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 10vh;
        left: 100%;
        height: 100vh;
        width: 100%;
        background-color: white;
        padding-top: 20px;
    }
    .navigation-container ul li{
        width: 90%;
        line-height: 50px;
        padding: 20px 0;
    }
    .toggle-menu{
        display: block;
    }
  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
    @media (min-width: 576px) and (max-width:992px) { 
        .logo_nav_container img{
            width: 130px;
            padding: 10px;
        }
        .navigation-container ul li{
            width: 100px;
            padding: 10px;
        }
        
        }

  /* hero section end  */

  /* bio data section start */

  .bio-data-container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(239, 235, 235, 0.3);
  }

  .all_item_heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    line-height: 100px;
    font-family: 'Lobster', cursive;
}

.all_item_heading::before{
    content: "";
    position: absolute;
    width: 200px;
    height:  5px;
    background-image: linear-gradient(90deg,#ff2647, #ffc72e);
    top: 88px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;

}

.all_item_heading::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: orangered;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    border-radius: 50%;
}

.main_continer{
    height: 90vh;
    width: 100%;
    display: flex;
}

.service_left_side{
    height: 80vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.service_right_side{
    height: 80vh;
    width: 50%;
}

.service_right_side h3{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 20px;
}

.service_right_side p{
    text-align: justify;
    margin: 20px 50px;
}

.progresbar{
    margin-top: 20px;
    margin-left: 50px;
    cursor: pointer;
    
}

.progresbar h4{
    margin: 30px 10px 0 0;
}

.progresbar .html{
    height: 10px;
    width: 90%;
    background-color: lightgrey;
    border-radius: 10px;
}

.progresbar .html div{
    height: 10px;
    width: 0%;
    border-radius: 10px;
    background-image: linear-gradient(90deg,#ff2647, #ffc72e);
}

.progresbar .html div span{
    float: right;
    margin-top: -10px;
    margin-right: -20px;
    background-color: white;
    border: 1px solid orangered;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.progresbar .html .a{
    /* animation: a 1s linear forwards; */
    animation-name: a;
    /* animation-duration: 1s ; */
    animation-timing-function: linear ;
    animation-fill-mode: forwards;
}

.progresbar .html .b{
    /* animation: b 1s linear forwards; */
    animation-name: b;
    /* animation-duration: 1s ; */
    animation-timing-function: linear ;
    animation-fill-mode: forwards;

}

.progresbar .html .c{
    /* animation: c 1s linear forwards; */
    animation-name: c;
    /* animation-duration: 1s ; */
    animation-timing-function: linear ;
    animation-fill-mode: forwards;

}

.progresbar .html .d{
    /* animation: d 1s linear forwards; */
    animation-name: d;
    /* animation-duration: 1s ; */
    animation-timing-function: linear ;
    animation-fill-mode: forwards;

}

.progresbar .html .e{
    /* animation: e 1s linear forwards; */
    animation-name: e;
    /* animation-duration: 1s ; */
    animation-timing-function: linear ;
    animation-fill-mode: forwards;

}
.progresbar .html .f{
    /* animation: f 1s linear forwards; */
    animation-name: f;
    /* animation-duration: 1s ; */
    animation-timing-function: linear ;
    animation-fill-mode: forwards;

}

.progresbar:hover .animation{
    animation-duration: 1s ;
}

.animation{
    background-color: red;
}
@keyframes a{
    100%{
        width: 85%;
    }
}
@keyframes b{
    100%{
        width: 90%;
    }
}
@keyframes c{
    100%{
        width: 80%;
    }
}
@keyframes d{
    100%{
        width: 85%;
    }
}
@keyframes e{
    100%{
        width: 70%;
    }
}
@keyframes f{
    100%{
        width: 80%;
    }
}

.btn{
    margin-top: 50px;
}

.btn a{
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    background-image: linear-gradient(90deg,#ff2647, #ffc72e);
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
    border: 1px solid black;

}
 

 
/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { 
 
} */
 
/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {  
    
} */
 
 
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
/* @media (max-width: 950px) { 
 
} */