
/* link google font added link  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header{
    /* background-color: rgba(4, 4, 128, 0.13); */
}
.logo_nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: relative;
}

.logo_nav_container img{
    width: 180px;
    cursor: pointer;
    padding: 15px;
}

.navigation-container ul{
    display: flex;
    transition: 0.7s;

}

.navigation-container ul li{
    width: 150px;
    margin: 5px;
    text-align: center;
    list-style: none;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    /* text-transform: uppercase; */
}
.navigation-container ul li a{
    color:  orangered;
    position: relative;

}

.navigation-container ul li a::before{
    content:"";
    position: absolute;
    top: 100%;
    left: 0;
    background-image: linear-gradient(90deg,#ff2647, #ffc72e);
    width: 0%;
    height: 3px;
    border-radius: 10px;
    transition: 0.6s;
}

.navigation-container ul li a:hover::before{
    width: 100%;
}
.toggle-menu{
    display: none;

}
.toggle-menu i{
    font-size: 30px;
    padding: 0px;
    cursor: pointer;
    color:  orangered;

}
#toggle-end{
    display: none;

}

/* header section end  */

/* hero section strat  */
.hero_section{
    /* display: grid;
    grid-template-columns: auto auto;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text-container{
    padding: 10%;
    width: 50vw;
}

.hero-image-container{
    width: 50vw;
}

.hero-text-container h3{
    color: #ff2647;
    padding: 0
}
.hero-text-container h1{
    font-size: 50px;
    padding: 5px 0;
}






.hire-button{
    margin: 40px 0;
}
.hire-me-btn{
    color: orangered;
    border: 1px solid orangered;
    padding: 10px 34px;
    font-size: 25px;
}

.hire-me-btn:hover{
    background: #f44336;
    transition: 1s;
    color: white;
}


.hero-image-container img{
    width: 90%;
    padding: 50px;
}
/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 600px) {
    .logo_nav_container img{
        width: 120px;
        height: 10vh;
    }
    .navigation-container ul{
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 10vh;
        left: 100%;
        height: 100vh;
        width: 100%;
        background-color: white;
        padding-top: 20px;
    }
    .navigation-container ul li{
        width: 90%;
        line-height: 50px;
        padding: 20px 0;
    }
    .toggle-menu{
        display: block;
    }
  }
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 576px) and (max-width:992px) { 
.logo_nav_container img{
    width: 130px;
    padding: 10px;
}
.navigation-container ul li{
    width: 100px;
    padding: 10px;
}
 
}
 
/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { 
 
} */
 
/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {  
    
} */
 
 
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
/* @media (max-width: 950px) { 
 
} */